<%= form_tag :action => 'create' %>
<% @results.each_with_index do |result, index| %>
  <%= fields_for "result[#{index}]", result do |f| %>
  <tr>
    <td><%= @questions[index].name %>
    <%  0.upto(4) do |value| %>
      <%= f.hidden_field :question_id %>
      <td> <%= f.radio_button :score, value %></td>
    <% end %>
    <br/>
  <tr/>
<% end %>
<% end %>
<%= submit_tag 'Submit' %><br/>
